@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-primary-color: 241, 245, 249; /* #f5f5f5 */
    --background-secondary-color: 24, 24, 24; /* #181818 */
    --background-dark-color: 24, 24, 27; /* #18181b */
    /*--background-extra-muted-color: 242, 231, 219; /* #F2E7DB */
    --text-primary-color: 36, 93, 81; /* #171717 */
    --text-secondary-color: 64, 64, 64; /* #404040 */
    --text-primary-dark-color: 255, 255, 255; /* #f4f4f5 */
    --text-secondary-dark-color: 160, 160, 170; /* #a1a1aa */
    /*--text-muted-color: 128, 128, 128; /* #808080 */
    /*--text-current-color: 44, 44, 44; /* #2C2C2C */
    --button-primary-color: 255, 255, 255; /* #f4f4f5 */
    --button-secondary-color: 255, 255, 255; /* #f4f4f5 */
    --button-primary-hover-color: 223, 33, 33; /* #DF2121 */
    --button-secondary-hover-color: 255, 255, 255; /* #f4f4f5 */
}
.menu {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 200px;
}

.menu > li > a {
    background: blue;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.menu ul {
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    top: 35px;
    width: 100%;
}

.menu li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(0);
}

.menu ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
}
